@page "/test-table-grid"
@rendermode InteractiveServer

@using Blazor.Tools.BlazorBundler.Entities
@using Blazor.Tools.BlazorBundler.Entities.SampleObjects
@using Blazor.Tools.BlazorBundler.Interfaces
@using Blazor.Tools.BlazorBundler.Components.Grid
@using Bogus
@using System.Data
@using System.ComponentModel.DataAnnotations

@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<PageTitle>Test TableGrid</PageTitle>
<h1>Using TableGrid Component</h1>
@* <TableGrid 
    Title="@_data.Title" 
    TableID="@_data.TableID" 
    ColumnDefinitions="@_data.ColumnDefinitions" 
    TModel="Employee" 
    TModelVM="EmployeeVM" 
    ModelVM="@_data.ModelVM" 
    TIModel="IModelExtendedProperties" 
    Items="@_data.Items" 
    DataSources="@_data.DataSources" 
    ItemsChanged="@data.OnItemsChanged" 
    AllowCellRangeSelection="true"
>
</TableGrid> *@
 
 
@code {
    //   [Inject] public ISessionTableService _sessionTableService { get; set; } = default!;

    private SampleData _data = default!;
    protected override void OnParametersSet()
    {
        Console.WriteLine("TestTableGrid OnParametersSetAsync");
        //SessionManager.GetInstance(_sessionTableService);

        _data = new SampleData();
    }
      
}
