@page "/test-table-grid"
@rendermode InteractiveServer

@using Blazor.Tools.BlazorBundler.Entities
@using Blazor.Tools.BlazorBundler.Entities.SampleObjects
@using Blazor.Tools.BlazorBundler.Interfaces
@using Blazor.Tools.BlazorBundler.Components.Grid
@using Bogus
@using System.Data
@using System.ComponentModel.DataAnnotations

@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

<PageTitle>Test TableGrid</PageTitle>
<h1>Using TableGrid Component</h1>
<TableGrid 
    Title="@_data.Title" 
    TableID="@_data.TableID" 
    ColumnDefinitions="@_data.ColumnDefinitions" 
    ModelVM="_data.EmployeeVM" 
    Items="@_data.Employees"
    ItemsChanged="@_data.OnItemsChanged"
    AllowCellRangeSelection="true"
>
</TableGrid>
 
@code {

    //[Inject] public ISessionTableService _sessionTableService { get; set; } = default!;

    private SampleData _data = new SampleData();
     
}
