@page "/test-table-grid"
@rendermode InteractiveServer

@using Blazor.Tools.BlazorBundler.Entities
@using Blazor.Tools.BlazorBundler.Entities.SampleObjects.Data
@using Blazor.Tools.BlazorBundler.Entities.SampleObjects.Models
@using Blazor.Tools.BlazorBundler.Interfaces
@using Blazor.Tools.BlazorBundler.Components.Grid
@using Bogus
@using System.Data
@using System.ComponentModel.DataAnnotations

@inherits SampleData

<PageTitle>Test TableGrid</PageTitle>
<h1>Using TableGrid Component</h1>
<TableGrid 
    Title="@Title" 
    TableID="@TableID" 
    ColumnDefinitions="@ColumnDefinitions" 
    TModel="IBase" 
    ModelVM="@EmployeeVM" 
    TIModel="IModelExtendedProperties" 
    Items="@Employees" 
    DataSources="@DataSources" 
    ItemsChanged="@OnItemsChanged" 
    AllowCellRangeSelection="true"
>
</TableGrid>
 
 