@page "/test-data-table-grid"
@rendermode InteractiveServer

@using Blazor.Tools
@using Blazor.Tools.BlazorBundler.Components.Grid
@using Blazor.Tools.BlazorBundler.Entities.SampleObjects.Data
@using Bogus
@using System.Data
@inject NavigationManager Navigation
@inherits SampleData
<PageTitle>Test Data Table Grid</PageTitle>

<h1>Testing Sample Data Table Grid Component</h1>

<DataTableGrid  Title="@EmployeeDataTable.TableName"
                SelectedTable="@EmployeeDataTable" 
                ModelsAssemblyName="@ModelsAssemblyName"
                ViewModelsAssemblyName="@ViewModelsAssemblyName"
                HiddenColumnNames="@HiddenEmployeeColumns" 
                DataSources="@DataSources"
                ItemsChanged="@OnItemsChanged" 
                AllowCellRangeSelection="true"
                TableList="@TableList" />

<DataTableGrid  Title="@CountryDataTable.TableName" 
                SelectedTable="@CountryDataTable" 
                ModelsAssemblyName="@ModelsAssemblyName"
                ViewModelsAssemblyName="@ViewModelsAssemblyName"
                HiddenColumnNames="@HiddenCountryColumns"
                DataSources="@DataSources"
                ItemsChanged="@OnItemsChanged"
               TableList="@TableList" />
  